<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DepremBilinciOyunuIlerleme"
        tools:targetApi="31">
        <activity
            android:name=".LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location"
            android:theme="@style/Theme.DepremBilinciOyunuIlerleme" />
        <activity
            android:name=".BreathExerciseActivity"
            android:exported="false" />
        <activity android:name=".QuizActivity"
            android:exported="false" />

        <activity
            android:name=".FlashCardsActivity"
            android:exported="false" />
        <activity
            android:name=".BackpackActivity"
            android:exported="false" />

        <activity
            android:name=".SafeZoneActivity"
            android:exported="false" />

        <activity
            android:name=".CertificateActivity"
            android:exported="false" />


        <activity
            android:name=".CharacterCustomizationActivity"
            android:exported="false"
            android:theme="@style/Theme.DepremBilinciOyunuIlerleme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DepremBilinciOyunuIlerleme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>